
/*ELEMENTS*/
body {
  background-color: #000000;
  text-align: center;
}


h1 {
  font-size: 2.5em;
  color: #ffffff;
  padding: 0;
  margin-bottom: 80px;
}

h2 {
  font-size: 2em;
  color: #be90d4;
  border-bottom: 3px double rgba(181, 0, 0, 0.7);
  margin: 0 0 2em 0;
  padding-bottom: 30px;
}

p {
  font-family: 'Codystar', serif;
  font-size: 1.5em;
  color: #ffffff;
  text-transform: capitalize;
  margin-top: 1em;
}

button {
  font-size: 3em;
  margin: 0.5em;
  background-color: #f89406;
  border: none;
}

button:hover {
  box-shadow: 0 0 21px 10px rgba(255, 255, 255, 0.7);
  transform: scale(1.2, 1.2); transition-delay: 0.1s;
}

button:active {
  transform: scale(1, 1);

}

div {
  font-family: 'Codystar', serif;
  color: #bfbfbf;
  display: inline-block;
  margin: 1em 1.5em 4em 1.5em;

}


/*CLASSES*/
.playOne, .playTwo {
font-size: 1.5em;
}



/*IDS*/
#who { }

#ask { }

#option1 {

}

#option2 {

}
